.christmas-scene {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  pointer-events: none;
  z-index: 1000;
}

.christmas-scene canvas {
  display: block;
  width: 100%;
  height: 100%;
}
